# Variables, operations

In [2]:
# This is a comment. Python ignores this lines

# Creating a variables
a = 5

In [3]:
a

5

In [4]:
# Operations
5 * 11

55

In [5]:
# With using variables
11 * a

55

In [6]:
# Function f(x) from math
print(a)

5

In [7]:
# print(*args, sep=' ', end='\n', file=sys.)
print(4, 1, 'hello', a)

4 1 hello 5

In [8]:
# More operations
5 // 2

2

In [9]:
5 % 2

1

In [10]:
# We can change value of variable
a = 10
print(a / 2)
a = 4
print(a / 2)

5.0
2.0

In [11]:
3 ** 8

6561

In [2]:
initial_sum = 100
interest_rate = 3
years = 5

end_sum = initial_sum * ((100 + interest_rate) / 100)**years
end_sum

115.92740743

# Data types

In [3]:
# str
name = "John"
surname = "Smith"

print(name)
print(surname)

John
Smith

In [4]:
print(2 ** 5)

32

In [6]:
hello = "hello"

print(type(hello))
print(hello)

hello = 2
print(type(hello))
print(hello)

<class 'str'>
hello
<class 'int'>
2

In [7]:
# bool

my_bool = ('5' == 5)
my_bool

False

In [8]:
my_bool_2 = ('el' in 'Hello')
my_bool_2

True

In [10]:
(5 == 5) and (1 == 3)

False

In [11]:
not (5 == 3)

True

In [12]:
my_name = "Sasha"
a = 10

(a == 3) or (my_name == "Aleksei")

False

In [13]:
5 >= 2

True

In [14]:
print(5 > 2)

3 <= 1

'hi' != 'bye'

True

True

# List, tuple, set

## list

In [15]:
my_list = [1, 2, 3, 4]
my_list

[1, 2, 3, 4]

In [16]:
my_list[1] # first element of list

2

In [17]:
my_list[-1] # last element of list

4

In [18]:
len(my_list) # length of list

4

In [20]:
my_list = ['a', 1, 3.56, [1, 2]]

In [21]:
print(my_list)

['a', 1, 3.56, [1, 2]]

In [28]:
new_list = my_list + ['h', 'e', '1', 1, 's']
new_list

['a', 1, 3.56, [1, 2], 'h', 'e', '1', 1, 's']

In [29]:
# Adding items with append, extend methods
new_list.append('g')
new_list

['a', 1, 3.56, [1, 2], 'h', 'e', '1', 1, 's', 'g']

In [30]:
new_list.extend('11')
new_list

['a', 1, 3.56, [1, 2], 'h', 'e', '1', 1, 's', 'g', '1', '1']

In [31]:
# Deleting items with pop method
deleted_item = new_list.pop(1)
deleted_item

1

In [32]:
new_list

['a', 3.56, [1, 2], 'h', 'e', '1', 1, 's', 'g', '1', '1']

In [33]:
# Deleting by value
print(new_list)
new_list.remove([1, 2])
print(new_list)

['a', 3.56, [1, 2], 'h', 'e', '1', 1, 's', 'g', '1', '1']
['a', 3.56, 'h', 'e', '1', 1, 's', 'g', '1', '1']

## tuple

In [34]:
my_tuple = (1, 2, 3)

In [35]:
my_tuple

(1, 2, 3)

In [36]:
type(my_tuple)

tuple

In [37]:
second_my_tuple = 5, 4, 3

In [38]:
second_my_tuple

(5, 4, 3)

In [39]:
new_tuple = second_my_tuple + my_tuple
new_tuple

(5, 4, 3, 1, 2, 3)

In [40]:
with_one_element = 1,

In [41]:
with_one_element

(1,)

In [43]:
len((1, 2) + with_one_element)

3

In [44]:
second_my_tuple[-1]

3

In [45]:
second_my_tuple[0]

5

## set

In [46]:
a = {1, 'a', 3.14}
a

{1, 3.14, 'a'}

In [47]:
a.add(2)
a

{1, 2, 3.14, 'a'}

In [48]:
a.add(2)
a

{1, 2, 3.14, 'a'}

In [49]:
len(a)

4

In [53]:
b = set()
b

set()

In [54]:
a.remove(3.14)

In [55]:
a

{1, 2, 'a'}

In [56]:
# a[0] - error

In [62]:
a = {'a', (1, 2), 3}
b = {3, (1, 2), 'unique'}
a.intersection(b) # a & b

{(1, 2), 3}

In [63]:
a.union(b) # a | b

{(1, 2), 3, 'a', 'unique'}

In [64]:
a.symmetric_difference(b) # a ^ b

{'a', 'unique'}

In [65]:
a.difference(b) # a - b

{'a'}

## Dict

In [68]:
name_to_number = {
    'alex': '+ 9932 328 32',
    'michael': '32 43 43873 9832'
}

print(name_to_number)

{'alex': '+ 9932 328 32', 'michael': '32 43 43873 9832'}

In [69]:
name_to_number['alex']

'+ 9932 328 32'

In [70]:
name_to_number.get('michael1', 'Not found')

'Not found'

In [71]:
name_to_number['dmitry'] = '123344 3422 12'

In [72]:
name_to_number

{'alex': '+ 9932 328 32',
 'michael': '32 43 43873 9832',
 'dmitry': '123344 3422 12'}

In [73]:
name_to_number.setdefault('alex', 'hidden')

'+ 9932 328 32'

In [74]:
name_to_number

{'alex': '+ 9932 328 32',
 'michael': '32 43 43873 9832',
 'dmitry': '123344 3422 12'}

In [75]:
name_to_number.setdefault('bulat', 'hidden')

'hidden'

In [76]:
name_to_number

{'alex': '+ 9932 328 32',
 'michael': '32 43 43873 9832',
 'dmitry': '123344 3422 12',
 'bulat': 'hidden'}

## Loops

### for loop

In [78]:
for a in [9, 16, 25]:
    print('Iteration...')
    print(a ** 0.5 + 1)

Iteration...
4.0
Iteration...
5.0
Iteration...
6.0

`for item in iterable()`

In [79]:
for i in range(5):
    print(i)

0
1
2
3
4

In [80]:
for i in range(1, 7):
    print(i)

1
2
3
4
5
6

In [85]:
for i in range(10, 1, -1):
    print(i)

10
9
8
7
6
5
4
3
2

In [88]:
for i in range(0, 100, 2):
    if i == 10:
        break
    print(i)

0
2
4
6
8

## while loop

In [90]:
number = 10_000

while number % 2 == 0:
    print('Iteration...')
    number //= 2
    
print(number)

Iteration...
Iteration...
Iteration...
Iteration...
625

### if condition

In [91]:
number = 4

if number % 2 == 0:
    print('even number')
else:
    print('odd number')

even number

In [93]:
accounts_balance = [-1121, 2339, -323, 32554, 2323]

negative_accounts = []

for balance in accounts_balance:
    if balance < 0:
        print(f"{balance} is negative")
        negative_accounts.append(balance)
    print(f"finished processing balance {balance}")
    
print(f"Negative accounts: {negative_accounts}")

-1121 is negative
finished processing balance -1121
finished processing balance 2339
-323 is negative
finished processing balance -323
finished processing balance 32554
finished processing balance 2323
Negative accounts: [-1121, -323]

In [94]:
name = input()

if name == 'Moscow':
    print('The capital of Russia')
elif name == 'London':
    print("The capital of Great Britain")
else:
    print("Unknown")

Moscow
The capital of Russia

### break, continue

In [95]:
words = ['see', 'this', 'long', 'sentence', 'here', 'no-show', 'no-show']

for i in range(len(words)):
    print(words[i])
    
    if i > 2:
        break

see
this
long
sentence

In [97]:
for i in range(5):
    for j in range(2):
        print(i, j)
        if j > 2:
            break

0 0
0 1
1 0
1 1
2 0
2 1
3 0
3 1
4 0
4 1

In [98]:
for feature in ['make sandwitch', 'make coffee', 'watch TV', 'wash plate']:
    if feature == 'make coffee':
        print('Coffe machine is broken, skipping')
        continue
    print(f'Starting section {feature}')

Starting section make sandwitch
Coffe machine is broken, skipping
Starting section watch TV
Starting section wash plate