In [1]:
import pandas as pd

In [6]:
df = pd.read_csv('data/restaurants.csv', encoding='utf-8', sep=',')

In [65]:
df.head()

,id,address,categories,city,cuisines,dateAdded,dateUpdated,latitude,longitude,menus.category,menus.currency,menus.dateSeen,menus.description,menus.name,name,province
0,1,18196 Anthony Forge,Fast food restaurant,London,"Greek, Thai, Turkish",2022-04-24,2025-03-03,51.482308,-0.037657,"Main Course, Specials, Vegetarian",USD,2024-06-20,Experience the authentic flavors of our cuisine,Premium Menu,Johnson's Grill,London
1,2,79402 Peterson Drives Apt. 511,Fast food restaurant,San Antonio,French,2018-03-30,2019-02-23,29.355304,-98.562401,"Kids Menu, Appetizers, Dinner",JPY,2025-01-15,Experience the authentic flavors of our cuisine,Seasonal Menu,Guzman's Kitchen,TX
2,3,78161 Calderon River Suite 931,Coffee shop,San Antonio,"Greek, Mexican, Indian",2019-09-19,2022-02-06,29.415950,-98.526858,"Salads, Desserts",CNY,2024-08-09,"Fresh, locally sourced ingredients prepared daily",Seasonal Menu,Howard's Diner,TX
3,4,16475 Mitchell Fords,Sushi restaurant,Los Angeles,Vietnamese,2016-05-17,2018-06-25,34.093815,-118.339583,"Salads, Vegan, Appetizers",AUD,2024-06-30,Featuring our signature dishes and chef's reco...,Standard Menu,Perez's Restaurant,CA
4,5,283 Steven Groves,"Fine dining restaurant, Barbecue restaurant",Sydney,"Fusion, Vietnamese",2022-08-15,2023-09-04,-33.824400,151.297011,"Main Course, Appetizers, Specials",CNY,2025-04-14,"Fresh, locally sourced ingredients prepared daily",Seasonal Menu,Miles's Kitchen,NSW

In [31]:
print(', '.join([date for date in df['dateAdded'][:3]]))

2022-04-24, 2018-03-30, 2019-09-19

In [30]:
print(df['city'].dtype, df['latitude'].dtype)

object float64

In [46]:
description = df.describe()

description

                  id       latitude      longitude
count  100000.000000  100000.000000  100000.000000
mean    50000.500000      33.828131     -45.670013
std     28867.657797      19.454744      86.667267
min         1.000000     -33.968750    -121.986225
25%     25000.750000      32.722084    -112.013005
50%     50000.500000      35.683633     -87.615028
75%     75000.250000      41.834219       2.305479
max    100000.000000      52.619939     151.309260

In [54]:
print(
    round(description['id']['mean'], 2),
    round(description['latitude']['mean'], 2),
    round(description['longitude']['mean'], 2)
)

50000.5 33.83 -45.67

In [59]:
df = df.dropna()

In [62]:
df.shape

(100000, 16)

In [77]:
df[(df['city'] == 'Sydney') & (df['province'] == 'NSW')]

,id,address,categories,city,cuisines,dateAdded,dateUpdated,latitude,longitude,menus.category,menus.currency,menus.dateSeen,menus.description,menus.name,name,province
4,5,283 Steven Groves,"Fine dining restaurant, Barbecue restaurant",Sydney,"Fusion, Vietnamese",2022-08-15,2023-09-04,-33.824400,151.297011,"Main Course, Appetizers, Specials",CNY,2025-04-14,"Fresh, locally sourced ingredients prepared daily",Seasonal Menu,Miles's Kitchen,NSW
15,16,6670 Bruce Stream Suite 133,Seafood restaurant,Sydney,"Vietnamese, Brazilian",2023-12-29,2025-12-02,-33.802161,151.143973,"Main Course, Drinks",USD,2024-02-10,"Fresh, locally sourced ingredients prepared daily",Seasonal Menu,Lee's House,NSW
26,27,9826 Bobby Lakes,Fast food restaurant,Sydney,"Fusion, Turkish",2016-09-01,2017-04-19,-33.814546,151.124109,Dinner,AUD,2025-09-22,"Fresh, locally sourced ingredients prepared daily",Seasonal Menu,Ware's Bistro,NSW
32,33,6159 Alvarado Crossing,"Food truck, Buffet restaurant",Sydney,"Chinese, Vietnamese, Russian",2021-04-20,2023-05-26,-33.816643,151.221555,"Vegetarian, Desserts, Drinks",CNY,2025-05-27,A curated selection of our finest offerings,Seasonal Menu,Ball's Diner,NSW
33,34,6482 Robert Light Apt. 994,"Fast food restaurant, Pizzeria",Sydney,"Korean, Middle Eastern, Thai",2023-02-12,2023-09-06,-33.917586,151.117387,Vegan,CAD,2024-07-15,Featuring our signature dishes and chef's reco...,Main Menu,Evans's Cafe,NSW
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99957,99958,1237 Erika Viaduct Apt. 602,"Bar, Food truck",Sydney,American,2018-02-22,2020-01-03,-33.870306,151.143348,"Dinner, Main Course",GBP,2025-07-22,"Fresh, locally sourced ingredients prepared daily",Special Menu,Walters's Kitchen,NSW
99961,99962,6870 Sydney Path Apt. 444,Barbecue restaurant,Sydney,"Indian, Mexican, American",2022-11-02,2024-03-11,-33.892940,151.286345,"Breakfast, Kids Menu",EUR,2025-08-21,Featuring our signature dishes and chef's reco...,Seasonal Menu,Williams's Tavern,NSW
99964,99965,4855 Eric Ford,"Vegetarian restaurant, Cafe",Sydney,"Russian, German, Vietnamese",2018-09-20,2020-09-28,-33.963331,151.230488,"Soups, Vegetarian",CNY,2024-10-18,Experience the authentic flavors of our cuisine,Seasonal Menu,Monroe's Cafe,NSW
99992,99993,34912 Mcmahon Lodge,Steakhouse,Sydney,"French, Spanish",2025-03-01,2025-12-02,-33.786253,151.160732,"Chef's Specials, Dinner",AUD,2025-09-12,"Fresh, locally sourced ingredients prepared daily",Standard Menu,Robinson's Grill,NSW
99993,99994,903 Anthony Ramp Suite 415,Ice cream shop,Sydney,"Thai, Mexican",2019-11-13,2021-11-10,-33.872621,151.191352,"Kids Menu, Lunch, Breakfast",GBP,2024-03-08,Traditional recipes with a modern twist,Standard Menu,Miller's Cafe,NSW

In [80]:
seafood_rest_in_london = df[(df['categories'] == 'Seafood restaurant') & (df['city'] == 'London')]
seafood_rest_in_london.head()

,id,address,categories,city,cuisines,dateAdded,dateUpdated,latitude,longitude,menus.category,menus.currency,menus.dateSeen,menus.description,menus.name,name,province
520,521,1520 Johnson Shoals,Seafood restaurant,London,"Brazilian, Mediterranean, Middle Eastern",2018-05-24,2019-12-03,51.599985,-0.131091,"Drinks, Dinner, Desserts",CAD,2025-02-07,Featuring our signature dishes and chef's reco...,Standard Menu,Wong's Kitchen,London
1564,1565,5513 Medina Motorway Apt. 717,Seafood restaurant,London,"Spanish, German",2020-12-22,2022-06-22,51.581663,-0.070783,"Breakfast, Chef's Specials, Kids Menu",JPY,2024-06-22,Traditional recipes with a modern twist,Premium Menu,Gallagher's House,London
3386,3387,990 Ward Mountains Suite 169,Seafood restaurant,London,Turkish,2022-10-14,2025-03-26,51.485355,-0.149258,Main Course,CAD,2025-05-01,Featuring our signature dishes and chef's reco...,Seasonal Menu,Davidson's House,London
3968,3969,191 Denise Center,Seafood restaurant,London,"Indian, Middle Eastern, Japanese",2019-02-14,2020-05-24,51.534608,-0.037901,Specials,USD,2025-01-14,Traditional recipes with a modern twist,Special Menu,Lin's Tavern,London
4342,4343,740 Sparks Fort Suite 869,Seafood restaurant,London,Spanish,2017-10-21,2017-11-18,51.439111,-0.109246,"Specials, Gluten-Free, Vegan",CAD,2025-10-28,Featuring our signature dishes and chef's reco...,Seasonal Menu,The port,London

In [84]:
la_or_coffee_shop = df[(df['city'] == 'Los Angeles') | (df['categories'] == 'Coffee shop')]
la_or_coffee_shop.head()

,id,address,categories,city,cuisines,dateAdded,dateUpdated,latitude,longitude,menus.category,menus.currency,menus.dateSeen,menus.description,menus.name,name,province
2,3,78161 Calderon River Suite 931,Coffee shop,San Antonio,"Greek, Mexican, Indian",2019-09-19,2022-02-06,29.415950,-98.526858,"Salads, Desserts",CNY,2024-08-09,"Fresh, locally sourced ingredients prepared daily",Seasonal Menu,Howard's Diner,TX
3,4,16475 Mitchell Fords,Sushi restaurant,Los Angeles,Vietnamese,2016-05-17,2018-06-25,34.093815,-118.339583,"Salads, Vegan, Appetizers",AUD,2024-06-30,Featuring our signature dishes and chef's reco...,Standard Menu,Perez's Restaurant,CA
5,6,30564 Jason Port Suite 376,Cafe,Los Angeles,"Greek, Brazilian",2025-10-24,2025-12-02,33.988565,-118.307019,Soups,EUR,2025-01-12,"Fresh, locally sourced ingredients prepared daily",Special Menu,Bowman's Restaurant,CA
17,18,60647 Henderson Street,Family restaurant,Los Angeles,"Caribbean, French, Russian",2019-12-25,2020-07-13,34.120657,-118.253749,"Chef's Specials, Kids Menu, Gluten-Free",EUR,2025-08-25,Traditional recipes with a modern twist,Standard Menu,Olson's Grill,CA
20,21,169 Donovan Ford,Coffee shop,Houston,"Chinese, American, Russian",2019-12-15,2020-11-16,29.852634,-95.300893,Chef's Specials,EUR,2024-05-29,Traditional recipes with a modern twist,Seasonal Menu,The shire,TX

In [90]:
result = df[~(df['menus.currency'].isna())]

In [95]:
type(df['categories'])

pandas.core.series.Series

In [97]:
type(df[['categories']])

pandas.core.frame.DataFrame

In [119]:
df .groupby('city', as_index=False) \
    .agg({'dateAdded': 'count'}) \
    .rename(columns={'dateAdded': 'restaurants'}) \
    .sort_values('restaurants', ascending=False) \
    .iloc[:3]

           city  restaurants
7         Paris         6848
8  Philadelphia         6771
6      New York         6740

In [124]:
df[df['categories'] == 'Coffee shop'] \
    .groupby('city', as_index=False) \
    .agg({'dateAdded': 'count'}) \
    .rename(columns={'dateAdded': 'restaurants'}) \
    .sort_values('restaurants', ascending=False) \
    .iloc[:5]

         city  restaurants
3     Houston          187
13     Sydney          186
0      Berlin          179
11  San Diego          178
14      Tokyo          172

In [150]:
df['dateAdded'] = pd.to_datetime(df['dateAdded'])
df['dateUpdated'] = pd.to_datetime(df['dateUpdated'])

In [145]:
rest_opened_in_october = df[df['dateAdded'].dt.month == 10]
rest_opened_in_october.head(3)

,id,address,categories,city,cuisines,dateAdded,dateUpdated,latitude,longitude,menus.category,menus.currency,menus.dateSeen,menus.description,menus.name,name,province
5,6,30564 Jason Port Suite 376,Cafe,Los Angeles,"Greek, Brazilian",2025-10-24,2025-12-02,33.988565,-118.307019,Soups,EUR,2025-01-12,"Fresh, locally sourced ingredients prepared daily",Special Menu,Bowman's Restaurant,CA
6,7,88496 Cox Dam,Italian restaurant,Berlin,"Indian, Russian, Thai",2024-10-06,2025-12-02,52.542331,13.306413,"Breakfast, Salads",EUR,2024-03-15,"Fresh, locally sourced ingredients prepared daily",Premium Menu,Day's Grill,Berlin
11,12,117 Tiffany Place,"Steakhouse, Cafe",Paris,"Middle Eastern, Indian",2025-10-09,2025-12-02,48.790705,2.265210,Vegetarian,AUD,2024-05-25,A curated selection of our finest offerings,Special Menu,Roman's Tavern,ÃŽle-de-France

In [149]:
df.groupby(df['dateAdded'].dt.month) \
    .agg({'id': 'count'})

             id
dateAdded
1          8508
2          7727
3          8619
4          8126
5          8434
6          8223
7          8602
8          8436
9          8362
10         8278
11         8207
12         8478

In [154]:
df['updateDelta'] = df['dateUpdated'] - df['dateAdded']
df.head(3)

,id,address,categories,city,cuisines,dateAdded,dateUpdated,latitude,longitude,menus.category,menus.currency,menus.dateSeen,menus.description,menus.name,name,province,updateDelta
0,1,18196 Anthony Forge,Fast food restaurant,London,"Greek, Thai, Turkish",2022-04-24,2025-03-03,51.482308,-0.037657,"Main Course, Specials, Vegetarian",USD,2024-06-20,Experience the authentic flavors of our cuisine,Premium Menu,Johnson's Grill,London,1044 days
1,2,79402 Peterson Drives Apt. 511,Fast food restaurant,San Antonio,French,2018-03-30,2019-02-23,29.355304,-98.562401,"Kids Menu, Appetizers, Dinner",JPY,2025-01-15,Experience the authentic flavors of our cuisine,Seasonal Menu,Guzman's Kitchen,TX,330 days
2,3,78161 Calderon River Suite 931,Coffee shop,San Antonio,"Greek, Mexican, Indian",2019-09-19,2022-02-06,29.415950,-98.526858,"Salads, Desserts",CNY,2024-08-09,"Fresh, locally sourced ingredients prepared daily",Seasonal Menu,Howard's Diner,TX,871 days

In [164]:
update_delta_and_max_lat_by_city = df.groupby('city', as_index=False) \
    .agg({'updateDelta': 'mean', 'latitude': 'max'})

berlin_mean = update_delta_and_max_lat_by_city[update_delta_and_max_lat_by_city['city'] == 'Berlin']['updateDelta'][0]
berlin_mean

Timedelta('492 days 22:25:56.233183856')

In [172]:
df[df['cuisines'].isin(['Greek'])].head(3)

,id,address,categories,city,cuisines,dateAdded,dateUpdated,latitude,longitude,menus.category,menus.currency,menus.dateSeen,menus.description,menus.name,name,province,updateDelta
8,9,184 Rodriguez Mews,"Sushi restaurant, Coffee shop",Houston,Greek,2021-03-17,2023-02-01,29.733672,-95.378586,Vegetarian,AUD,2025-08-22,"Fresh, locally sourced ingredients prepared daily",Premium Menu,Maddox's Grill,TX,686 days
201,202,696 Michael Vista Suite 924,Sushi restaurant,San Antonio,Greek,2017-01-21,2018-09-16,29.368870,-98.429242,"Specials, Main Course",CNY,2024-11-23,"Fresh, locally sourced ingredients prepared daily",Standard Menu,Lambert's Kitchen,TX,603 days
206,207,819 Joseph Plains Suite 807,Bar,New York,Greek,2018-10-21,2018-12-07,40.715131,-74.074604,"Kids Menu, Vegetarian, Breakfast",EUR,2025-01-18,A curated selection of our finest offerings,Special Menu,Norman's House,NY,47 days

In [176]:
print(df['updateDelta'].median())
print(df['updateDelta'].mean())

468 days 00:00:00
492 days 05:10:40.800000008

In [190]:
category_mask = df['categories'].str.split(', ').str.len() >= 2
categories_more_2 = df[category_mask]

In [197]:
result = categories_more_2.groupby('province', as_index=False) \
    .agg({'longitude': 'min'})
result['longitude'] = round(result['longitude'], 2)

In [198]:
result.head()

  province  longitude
0       AZ    -112.17
1   Berlin      13.31
2       CA    -121.99
3       IL     -87.73
4   London      -0.23