### 1.1 Pandas. Files
Pandas cad read data from different file's format:
1. CSV (Comma Separated Values)
2. Excel tables
3. JSON, XML
4. feather, parquet, erc
5. From DB

### 1.1.1 Reading file

In [1]:
import pandas as pd

df = pd.read_csv("data/student_performance_analysis.csv", dtype={''})

In [2]:
# First three entries
df.head(3)

,student_id,gender,hours_studied,attendance_percent,assignments_completed,test_score
0,1,Female,6.3,61,6,50.9
1,2,Male,7.6,62,7,51.8
2,3,Female,8.9,63,8,52.7

In [3]:
df.describe()

,student_id,hours_studied,attendance_percent,assignments_completed,test_score
count,50.00000,50.000000,50.000000,50.000000,50.000000
mean,25.50000,10.850000,76.700000,9.500000,72.050000
std,14.57738,3.771875,11.935627,2.901442,13.119642
min,1.00000,5.000000,60.000000,5.000000,50.000000
25%,13.25000,7.600000,66.250000,7.000000,61.025000
50%,25.50000,10.850000,74.500000,9.500000,72.050000
75%,37.75000,14.100000,86.750000,12.000000,83.075000
max,50.00000,16.700000,99.000000,14.000000,94.100000

In [7]:
df.columns

Index(['student_id', 'gender', 'hours_studied', 'attendance_percent',
       'assignments_completed', 'test_score'],
      dtype='object')

In [8]:
df.dtypes

student_id                 int64
gender                    object
hours_studied            float64
attendance_percent         int64
assignments_completed      int64
test_score               float64
dtype: object